body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

img {
  width: 100%;
}

img.rounded {
  border-radius: 8px;
}

main h2 {
  font-size: 25px;
  font-family: Helvetica, Arial, sans-serif, sans-serif;
  font-weight: 400;
}

main h3 {
  font-size: 22px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}

main p {
 font-family: 'Montserrat', sans-serif;
 line-height: 1.5em;
 margin-bottom: 0em;
}

/* Header */

header {
  background-color: #D8BFD8;
  margin-bottom: 40px;
  display: block;
}

.logo {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 72px;
  color: #e7e6e3;
  text-align: center;
  letter-spacing: -3;
  margin: 0;
  padding: 20px 0 0 0;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

header nav ul li a:hover {
  color: #bdbdbd;
}

/*  Main */

main  .wrapper  h2 {
  padding-left: 10px;
  margin-bottom: 0;
}

main .intro {
  font-size: 24px;
  color: #D8BFD8;
}

/* Groups & Items  (Mobile First) */
.wrapper {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}

/* ARTICLE SECTIONS */

#home, #portfolio, #contact {
  margin-bottom: 120px;
}

/* ABOUT ARTICLE */

#about {
  background-color: #c5c0b8;
  padding: 20px 0 30px 0;
  margin: 120px 0;
}

/* Contact Form Design */

form {
  padding-right: 8px;
  /* Fixed small sizing issue on the right */
}

form label {
  display: block;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}